<div class="section product">
  <div class="col-6">
    <h4 class="product__title">Product Title</h4>
    <div class="product__image">
      <p class="text-center">Product image</p>
    </div>
    <p class="product__description">
      Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. vProduct description little text. Product description little text. Product description little text. Product description little text. Product description little text. 
    </p>
  </div>
</div>
