<link href="https://fonts.googleapis.com/css?family=Pompiere|Quicksand|Thasadith|Roboto:300" rel="stylesheet">

<div class="section product">
  <div class="col-5">
    <h4 class="product__title">Vegan Product Title</h4>
    <div class="product__image">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="width: 100%"></ngx-gallery>
    </div>
    <p><strong>R$ {{ product.price }}</strong></p>
    <p class="product__description">
      Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. 
    </p>
    <div class="product__buy-section">
      <button class="product__buy-button" (click)="sendProduct($event)">Comprar</button>
    </div>
  </div>
</div>
