.product{
  padding: 10px;
  font-family: 'Roboto', sans-serif;

  &__title {
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: 'Pompiere', cursive;
  }

  &__image {
    background-color: #a0a0a0;
    padding: 20px;
  }

  &__description {
    margin-top: 10px;
  }
}