<link href="https://fonts.googleapis.com/css?family=Pompiere|Quicksand|Thasadith|Roboto:300" rel="stylesheet">

<div class="section product">
  <div class="col-6">
    <h4 class="product__title">Vegan Product Title</h4>
    <div class="product__image">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>
    <p class="product__description">
      Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. Product description little text. vProduct description little text. Product description little text. Product description little text. Product description little text. Product description little text. 
    </p>
  </div>
</div>
